@using Swetugg.Web.Models

@{

	ViewBag.Title = "Invoice Request";

}


<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Fakturaförfrågan</h2>
	</div>
	<p>
		Tack för din förfrågan vi återkommer med en bekräftelse när vi hunnit titta på dina uppgifter.
	</p>


</div>